{% extends 'layout.html.twig' %}

{% block title %}Bonbondex{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/styleGalery.css">{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class=" title">
                <h1 class="title-galery">Bonbondex, <span class="small">attrapez-les tous !</span></h1>
            </div>
            <div class="row justify-content-center">
                {% for produit in res %}
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="img-fluid" src="{{ produit.image_url }}" alt="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="card-title ellipse text-center">{{ produit.product_name }}</h5>
                                    </div>
                                    <div class="col-12 btn-j text-center">
                                        <button class="btn btn-ai" type="button" role="button" data-toggle="modal"
                                                data-target="#modal{{ produit.id }}">Je l'ai !
                                        </button>
                                    </div>
                                    <div class="modal fade" id="modal{{ produit.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content modalfond">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        id="exampleModalLongTitle">{{ produit.product_name }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post">
                                                        <div class="form-group">
                                                            <label for="adress">Adress : </label>
                                                            <input type="text" class="form-control" id="adress"
                                                                   name="adress" placeholder="Enter adress">
                                                            <input type="hidden" value="{{ produit.id }}"
                                                                   name="codebarre" id="{{ produit.id }}">
                                                            <input type="hidden" value="{{ produit.product_name }}"
                                                                   name="name_product" id="{{ produit.product_name }}">
                                                            <input type="hidden" value="{{ produit.image_url }}"
                                                                   name="small_img" id="{{ produit.image_url }}">

                                                        </div>
                                                        <div class="text-center">
                                                            <input type="submit" class="btn btn-modal"
                                                                   value="Validationner"/>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link btn-nikemouk" href="?button=previous">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link btn-nikemouk" href="?button=1">1</a></li>
                    <li class="page-item"><a class="page-link btn-nikemouk" href="?button=2">2</a></li>
                    <li class="page-item"><a class="page-link btn-nikemouk" href="?button=3">3</a></li>
                    <li class="page-item"><a class="page-link btn-nikemouk" href="?button=next">Next</a></li>
                </ul>
            </nav>

        </div>
    </section>
{% endblock %}