{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="/assets/css/plan.css">
{% endblock %}
{% block content %}

    <div class="container pt-3">
        <div class=" row">
            <div class="col">
                <div id="map"></div>
            </div>
        </div>

        <!--COMPTEUR A INSERER-->
        <div class="row justify-content-center">
            <div class="col-3">
                <button type="button" class="btn cool">
                    Nb Bonbondex <span class="badge badge-light">{{ compteur.id }}</span>
                    <span class="sr-only">unread messages</span>
                </button>
            </div>
            <div class="col-3">
                {% if  compteur.id  <= 5 %}
                    <span class="badge badgecool">Roi de la maison</span>
                {% elseif compteur.id > 5 and  compteur.id  <= 10 %}
                    <span class="badge badgecool">Roi de la rue</span>
                {% elseif compteur.id > 10 and compteur.id <= 25 %}
                    <span class="badge badgecool">Roi de la ville</span>
                {% elseif  compteur.id > 25 %}
                    <span class="badge badgecool">Roi des GuezMer</span>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="/assets/js/plan.js"></script>
    <script>

        function geoSucess(position) {
            // setTimeout( function(){ self.location.reload()}, 7000)
            let lat = position.coords.latitude;
            let lon = position.coords.longitude;

            let macarte = null;


            function initMap() {
                // Nous définissons le dossier qui contiendra les marqueurs
                var iconBase = '/assets/images/icons/';
                // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
                macarte = L.map('map').setView([lat, lon], 11);
                // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    // Il est toujours bien de laisser le lien vers la source des données
                    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                    minZoom: 15,
                    maxZoom: 40
                }).addTo(macarte);
                var myIcon1 = L.icon({
                    iconUrl: iconBase + "location.png",
                    iconSize: [45, 45],
                    iconAnchor: [25, 50],
                    popupAnchor: [-3, -76],
                });
                var marker = L.marker([lat, lon], {icon: myIcon1}).addTo(macarte);


                {% for adress in adresses %}
                var myIcon = L.icon({
                    iconUrl: iconBase + "pumpkinSelector.png",
                    iconSize: [45, 45],
                    iconAnchor: [25, 50],
                    popupAnchor: [-3, -76],
                });
                var marker = L.marker([{{ adress.1 }}, {{ adress.0 }}], {icon: myIcon}).addTo(macarte);

                marker.bindPopup("<img style=\"height:5rem;\" src=\"{{ adress.3 }}\"><br>{{ adress.2 }}.");

                {% endfor %}

            }

            window.onload = function () {

                // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
                initMap();
            };

        }


        function geoFail() { // Ceci s'exécutera si l'utilisateur refuse la géolocalisation
            console.log("refus");
        }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(geoSucess, geoFail);
        }


    </script>

{% endblock %}